html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, sans-serif;
  background-color: #777;
  color: #777;
  font-weight: bold;
}

a {
  color: #7f7fff;
}

a:hover, a:active {
  color: #ffbf7f;
}

div#wrapper {
  height: 6000px;
}

div#small-gear {
  width: 200px;
  height: 200px;
  background: url('./images/small-gear.svg') center no-repeat;
  position: fixed;
  left: calc(50% - 100px - 100px);
  top: calc(50% - 100px - 125px);
}

div#large-gear {
  width: 300px;
  height: 300px;
  background: url('./images/large-gear.svg') center no-repeat;
  position: fixed;
  left: calc(50% - 150px + 50px);
  top: calc(50% - 150px + 75px);
}

div.headline {
  width: 140px;
  height: 140px;
  position: absolute;
  left: calc(50% - 70px - 100px);
  top: calc(-70px - 125px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

div.content {
  width: 210px;
  height: 210px;
  position: absolute;
  left: calc(50% - 105px + 50px);
  top: calc(-105px + 75px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

div#myself-headline {
  font-size: 40px;
}

div#product-1-headline, div#product-1-content {
}

div.headline, div.content {
  -webkit-transition: visibility .5s ease;
  -moz-transition: visibility .5s ease;
  transition: visibility .5s ease;
  -webkit-transition: opacity .5s ease;
  -moz-transition: opacity .5s ease;
  transition: opacity .5s ease;
  opacity: 0;
  visibility: hidden;
}

div.active {
  opacity: 1;
  visibility: visible;
}
